.news{
  height:20%;
  box-shadow:1px 1px 10px 1px black;
 z-index: 1;
 border:4px solid white;
 padding:2%;
 border-radius:2px;
}
.news:hover{
    transform:scale(1.02);
    transition:transform 0.15s linear;
    z-index:100;
}

.featured{
  height:40%;
  box-shadow: 1px 1px 10px 1px black;
  overflow:hidden;

}
.featured img{
    width:200%;
}
.option{
  height:50%;
  box-shadow: 1px 1px 10px 1px black;
}

.post{
  height:15%;

}
.arrow{
  position:absolute;
  top:25%;
  display:no
}

.right{
  margin-left:40%;
}
.collection-item{
  height:100%;
}

.collection{

  box-shadow:1px 1px 10px 1px black;
}

.container .row{
  margin-left:1rem;
  margin-right:1rem;
}
.row{
  margin-bottom:0;
}
.row .col{
  padding:0;
}
